body{
  background: #548;
}

h2 {
  color: #FFF;
}

a {
  color: #FFF;
}

a:hover{
  color: #A5ABFB;
  text-decoration: none;
}

p {
  margin: 0px 0px 30px;
}

.contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  background: #548;
  color: #BBB4CF;
}

.btn-primary {
  color: #FFF;
  background-color: #9FB460;
  border: none;
}

.btn-primary:hover {
  color: #FFF;
  background-color: #87A239;
}
